<!DOCTYPE html>
<html>
  <head>
    <title>Flatiron Tunes</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% flash.each do |name, msg| -%>
      <h3 style='color:red'><%= content_tag :div, msg, class: name %></h3>
    <% end %>
    <%= yield %>
  </body>
</html>